body div.header {
  background-color: #eeeeee;
}

.speaker {
  .increment, .decrement, .remove {
    &:hover {
      cursor: pointer;
    }
  }
}

.justify {
  text-align: justify;
}



.item[data-selected="true"] {
  background-color: skyblue !important;
  flex-grow: 8;
  max-height: 1000px;
  overflow-y: scroll;
  border-bottom: 1em solid skyblue;


}
.item[data-selected="false"] {
  max-height: 100px;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 1em;
}
.avatar {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
